* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #ADDDEC;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.header-right {
    display: flex;
    flex-direction: row;
}

.header-links {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-variant: all-small-caps;
    display: inline-flex;
    align-items: center;
    gap: 37px;
    margin-right: 24px;
}

.header-links a {
    text-decoration: none;
    color: #061C52;
}

.header-links a:hover {
    color: #FFF;
}

a:visited {
    color:inherit;
}

.header button {
    height: 47px;
    padding: 8px 16px;
    border-radius: 69px;
    border-style: none;
    background: #061C52;
    color: #FFF;
    display: flex;
    align-items: flex-end;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    line-height: normal;
    letter-spacing: -0.24px;
}

.header button:hover {
    cursor: pointer;
}